#frm {


    border: 5px solid rgba(255, 0, 0, 0.54);
    padding: 20px;
    
}

body{
    background-color: rgba(46, 139, 61, 0.912);
}
label{
    color: rgb(165, 42, 42);
    font-size: 20px;
    font-weight: 700px;
}

input{
    width: 300px;
    background-color: chartreuse;
    
}

#id_text{
    width: 300px;
    background-color: chartreuse;

}

.errorlist{
    list-style-type: none;
    color: red;
    font-size: 10px;
}